### DATA WRANGLING CAPSTONE PROJECT 2

In [1]:
import os
import pandas as pd

colnames = ["Review_ID", "User_ID", "Business_ID", "Stars", "Date", "Text", "Useful", "Funny", "Cool"]
df= pd.read_csv('yelp_review.csv', names=colnames, header=None)
df = df[1:]
df.head()

,Review_ID,User_ID,Business_ID,Stars,Date,Text,Useful,Funny,Cool
1,hclX_u347zyM7zvqnKcvzw,IIfUkahy3IO7sN5KKMvtyA,PPJiCdWwr3z23tMxgX8ayQ,5,2015-02-12,Je reviens du Wellington et wouah ! La nourrit...,1.0,0.0,0.0
2,ynTtE8k2-RZcQvK05g-hsw,IIfUkahy3IO7sN5KKMvtyA,QJB0dqY_muOS8xCQd1SyvQ,5,2015-02-01,Véritable coup de coeur pour cette endroit ! J...,0.0,0.0,0.0
3,9G3aF2rilfiyRLz7S1-UGg,IIfUkahy3IO7sN5KKMvtyA,ywfhUYgNQqVf06sYQiIKMQ,4,2015-02-01,Très bonne place populaire pour un brunch trad...,2.0,0.0,0.0
4,9cvjOrirvFmjEO6WZIKV4w,IIfUkahy3IO7sN5KKMvtyA,O3sIXkB4rHX9OLKILiyZLw,4,2015-02-21,Très bonne brasserie dans un décor unique. Ess...,0.0,0.0,0.0
5,-a9p8-UcbGDSIX4SJslHZg,dI-aeHknmPqiL42vdGKZQw,93E1eOQ2bQG0OyIMqdcTvg,4,2015-07-01,I don't know why I don't go to Whataburger mor...,0.0,0.0,0.0

### ANALYZE DATASET

In [2]:
df.columns

Index(['Review_ID', 'User_ID', 'Business_ID', 'Stars', 'Date', 'Text',
       'Useful', 'Funny', 'Cool'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2271979 entries, 1 to 2271979
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   Review_ID    object
 1   User_ID      object
 2   Business_ID  object
 3   Stars        int64
 4   Date         object
 5   Text         object
 6   Useful       float64
 7   Funny        float64
 8   Cool         float64
dtypes: float64(3), int64(1), object(5)
memory usage: 156.0+ MB

In [4]:
df.isnull().sum()

Review_ID      0
User_ID        0
Business_ID    0
Stars          0
Date           0
Text           0
Useful         0
Funny          0
Cool           0
dtype: int64

### Convert Data Types

In [5]:
df['Useful'] = df['Useful'].astype(int)
df['Funny'] = df['Funny'].astype(int)
df['Cool'] = df['Cool'].astype(int)

In [6]:
df["Date"] = pd.to_datetime(df['Date'])

In [7]:
df.isnull().sum() # no null data rows

Review_ID      0
User_ID        0
Business_ID    0
Stars          0
Date           0
Text           0
Useful         0
Funny          0
Cool           0
dtype: int64

### DELETE ALL REVIEWS THAT AREN'T IN ENGLISH

In [8]:
df = df[df['Text'].map(lambda x: x.isascii())]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2203499 entries, 5 to 2271979
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   Review_ID    object
 1   User_ID      object
 2   Business_ID  object
 3   Stars        int64
 4   Date         datetime64[ns]
 5   Text         object
 6   Useful       int64
 7   Funny        int64
 8   Cool         int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 168.1+ MB

In [10]:
df.head()

,Review_ID,User_ID,Business_ID,Stars,Date,Text,Useful,Funny,Cool
5,-a9p8-UcbGDSIX4SJslHZg,dI-aeHknmPqiL42vdGKZQw,93E1eOQ2bQG0OyIMqdcTvg,4,2015-07-01,I don't know why I don't go to Whataburger mor...,0,0,0
6,bHEEQf5f_u-xvJPMvlFdWA,BpjlGlSW0VsphfzwTUffNg,BGkpUKqCNPGPHvhQ2J9mwQ,5,2017-03-15,Furnace died the day before temp was predicted...,1,0,0
7,v8SOCTSvss7lVzBrOG8OIw,hPtwgzndX3e7ttnov9ByeQ,WBlYp-nmLiBLp7VjP1FJFg,2,2017-06-14,What the fuck is this?! The steak is rubber! T...,1,2,0
8,j22GioMCag6-F5quZvgipw,IFkSQLXXTMACoWirAYI1jw,1XWpUatzGk0Cgn6C6VDaWg,5,2014-02-03,"Seattle may have just won the 2014 Super Bowl,...",2,2,1
9,yZiGS_vPM-EOXxxNATd6YQ,IFkSQLXXTMACoWirAYI1jw,iR1CIWFZOlfndjXn9fHflQ,5,2013-08-17,"This was one of my favorite pubs in Edinburgh,...",0,0,0

### GET RID OF OUTLIERS

In [11]:
df.Cool.unique()

array([   0,    1,    4,    3,    2,    5,    9,    8,    6,   15,   40,
         13,   11,   37,   32,   23,   35,   26,   12,   21,   10,   14,
         33,   45,   17,   36,    7,   16,   20,   18,   22,   19,   61,
         31,   25,   34,   24,   56,   39,   49,   30,   27,   29,   38,
         75,   51,   47,   44,   28,   88,   48,   41,   43,   42,   46,
        103,   69,   53,  120,   50,   52,   59,   58,   72,   70,   57,
         54,   63,   66,   67,   55,   64,   65,   73,   77,   76,  181,
        153,  147,  158,  146,  140,   60,   87,   78,  109,   74,   93,
        111,  124,  123,  159,   62,   84,   83,  132,   71,  107,   89,
        170,  157,  167,   80,   96,  173,  101,  172,  125,   -1,  100,
        129,  145,   85,   90,   91,   79,   82, 1105])

In [12]:
outlier_cool_IQR = df.Cool.quantile(0.75) - df.Cool.quantile(0.25)
outlier_cool_outlier_value = df.Cool.quantile(0.75) + (outlier_cool_IQR * 1.5) # anything greater than IQR x 1.5 is an outlier

In [14]:
df = df[(df["Cool"] <= outlier_cool_outlier_value) & (df["Cool"] > 0)]

In [15]:
df.Cool.unique()

array([1, 2])

In [16]:
df.Useful.unique()

array([  2,   1,   6,   4,   5,   0,   3,  11,  15,  20,  13,   7,  16,
        19,   8,   9,  10,  12,  14,  28,  63,  17,  45,  24,  22,  18,
        36,  41,  31,  30,  26,  49,  60,  21,  43,  32,  27,  23,  25,
        38,  33,  42,  29,  40,  34,  48,  35,  55,  39,  37,  62,  67,
        61,  53,  54, 187,  46,  44,  57,  47, 279,  59, 114,  72,  74,
        64,  52, 133,  89, 169,  51,  65, 319,  78, 100,  69,  88,  66,
        56, 103,  50,  68, 137,  84,  77, 107, 152, 111])

In [17]:
outlier_useful_IQR = df.Useful.quantile(0.75) - df.Useful.quantile(0.25)
outlier_useful_outlier_value = df.Useful.quantile(0.75) + (outlier_useful_IQR * 1.5) # anything greater than IQR x 1.5 is an outlier

In [18]:
df = df[(df["Useful"] < outlier_useful_outlier_value) & (df["Useful"] > 0)]

In [19]:
df.Useful.unique()

array([2, 1, 4, 5, 3])

In [20]:
df.Funny.unique()

array([  2,   1,   0,   3,   5,   8,   7,  10,   4,   6,  18,  12,   9,
        11,  13,  15,  32,  20,  95,  24,  65, 119,  14,  16,  21,  22,
        26, 111,  17,  19,  25,  51,  97,  46,  38, 109,  55,  71,  29,
        39,  82,  28,  43,  36,  23,  27,  37])

In [21]:
outlier_funny_IQR = df.Funny.quantile(0.75) - df.Funny.quantile(0.25)
outlier_funny_outlier_value = df.Funny.quantile(0.75) + (outlier_funny_IQR * 1.5) # anything greater than IQR x 1.5 is an outlier

In [22]:
df = df[(df["Cool"] <= outlier_funny_outlier_value) & (df["Cool"] > 0)]

In [23]:
df.Funny.unique()

array([  2,   1,   0,   3,   5,   8,   7,  10,   4,   6,  18,  12,   9,
        11,  13,  15,  32,  20,  95,  24,  65, 119,  14,  16,  21,  22,
        26, 111,  17,  19,  25,  51,  97,  46,  38, 109,  55,  71,  29,
        39,  82,  28,  43,  36,  23,  27,  37])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 353224 entries, 8 to 2271977
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Review_ID    353224 non-null  object
 1   User_ID      353224 non-null  object
 2   Business_ID  353224 non-null  object
 3   Stars        353224 non-null  int64
 4   Date         353224 non-null  datetime64[ns]
 5   Text         353224 non-null  object
 6   Useful       353224 non-null  int64
 7   Funny        353224 non-null  int64
 8   Cool         353224 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 26.9+ MB

In [29]:
df.reset_index(drop=True)

,Review_ID,User_ID,Business_ID,Stars,Date,Text,Useful,Funny,Cool
0,j22GioMCag6-F5quZvgipw,IFkSQLXXTMACoWirAYI1jw,1XWpUatzGk0Cgn6C6VDaWg,5,2014-02-03,"Seattle may have just won the 2014 Super Bowl,...",2,2,1
1,LmyhJZQ9UrIfoKsx40MCTw,IFkSQLXXTMACoWirAYI1jw,FFolUMaFqs8vdu9ybE4-IA,3,2017-08-29,"Ok, it's Airport food, so my expectations were...",1,1,1
2,G8VWnqTk1lz9w9mWaDLiFA,IFkSQLXXTMACoWirAYI1jw,V0tRCjf95FTqVJvmxdeqbQ,2,2014-01-20,"Eh, Kind of a tourist trap. I mean, it is ente...",2,2,2
3,UzTjuAVhfxEWhLGr65DjXw,IFkSQLXXTMACoWirAYI1jw,BSdg9BTjnv8lCmSuYTJdZQ,3,2013-09-08,I've been to Deacon Brodie's several times (it...,2,1,1
4,jj9vH4mIuCOjpFqO7Te5ZA,IFkSQLXXTMACoWirAYI1jw,CcLih_2n9FZglQwGxY76CA,5,2013-08-17,"Stopped in Conan Doyle a while back, and I was...",1,0,2
...,...,...,...,...,...,...,...,...,...
353219,3LeAcgfaEYtGL16j3hGgig,mPjPyipaD0C_myqWqDipZg,YEILyeHAQTgEGogF46HYiw,4,2011-10-21,Was on the way to work and feel like having so...,1,0,1
353220,CIMhrYaTrldYxWqYlYPN-A,mPjPyipaD0C_myqWqDipZg,6y-z_jGX7PCUubMPFDbxVA,4,2011-10-18,Went there on a tuesday nite in a group of 13 ...,1,2,2
353221,Q76zOoiQklh62ZTmA4gJZQ,mPjPyipaD0C_myqWqDipZg,fp24IseF5LGD1Iev7d0PVA,4,2011-10-20,I cannot believe this place have such few revi...,5,0,1
353222,ZU2UF0YBkhQFctXH5Mry3A,mPjPyipaD0C_myqWqDipZg,CMkayuNDHPcd1dxO32kJyA,1,2012-05-24,This place is retarded!!! Called on a thursda...,4,4,1
353223,W9eVvOcpBvG6lpJPoJOxuA,mPjPyipaD0C_myqWqDipZg,5ubokMNw8qfbX2WtxgJG1Q,4,2011-10-23,"Had a 8 dish set meal, was enough for 10 peopl...",3,0,1

In [30]:
df.to_csv("yelp_review_revised.csv")