### DATA WRANGLING CAPSTONE PROJECT 2

In [1]:
import os
import pandas as pd

colnames = ["Review_ID", "User_ID", "Business_ID", "Stars", "Date", "Text", "Useful", "Funny", "Cool"]
df= pd.read_csv('yelp_review.csv', names=colnames, header=None)
df = df[1:]
df.head()

,Review_ID,User_ID,Business_ID,Stars,Date,Text,Useful,Funny,Cool
1,hclX_u347zyM7zvqnKcvzw,IIfUkahy3IO7sN5KKMvtyA,PPJiCdWwr3z23tMxgX8ayQ,5,2015-02-12,Je reviens du Wellington et wouah ! La nourrit...,1.0,0.0,0.0
2,ynTtE8k2-RZcQvK05g-hsw,IIfUkahy3IO7sN5KKMvtyA,QJB0dqY_muOS8xCQd1SyvQ,5,2015-02-01,Véritable coup de coeur pour cette endroit ! J...,0.0,0.0,0.0
3,9G3aF2rilfiyRLz7S1-UGg,IIfUkahy3IO7sN5KKMvtyA,ywfhUYgNQqVf06sYQiIKMQ,4,2015-02-01,Très bonne place populaire pour un brunch trad...,2.0,0.0,0.0
4,9cvjOrirvFmjEO6WZIKV4w,IIfUkahy3IO7sN5KKMvtyA,O3sIXkB4rHX9OLKILiyZLw,4,2015-02-21,Très bonne brasserie dans un décor unique. Ess...,0.0,0.0,0.0
5,-a9p8-UcbGDSIX4SJslHZg,dI-aeHknmPqiL42vdGKZQw,93E1eOQ2bQG0OyIMqdcTvg,4,2015-07-01,I don't know why I don't go to Whataburger mor...,0.0,0.0,0.0

### ANALYZE DATASET

In [2]:
df.columns

Index(['Review_ID', 'User_ID', 'Business_ID', 'Stars', 'Date', 'Text',
       'Useful', 'Funny', 'Cool'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2271979 entries, 1 to 2271979
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   Review_ID    object
 1   User_ID      object
 2   Business_ID  object
 3   Stars        int64
 4   Date         object
 5   Text         object
 6   Useful       float64
 7   Funny        float64
 8   Cool         float64
dtypes: float64(3), int64(1), object(5)
memory usage: 156.0+ MB

In [4]:
df.isnull().sum()

Review_ID      0
User_ID        0
Business_ID    0
Stars          0
Date           0
Text           0
Useful         0
Funny          0
Cool           0
dtype: int64

### Convert Data Types

In [5]:
df['Useful'] = df['Useful'].astype(int)
df['Funny'] = df['Funny'].astype(int)
df['Cool'] = df['Cool'].astype(int)

In [6]:
df["Date"] = pd.to_datetime(df['Date'])

In [7]:
df.isnull().sum() # no null data rows

Review_ID      0
User_ID        0
Business_ID    0
Stars          0
Date           0
Text           0
Useful         0
Funny          0
Cool           0
dtype: int64

### DELETE ALL REVIEWS THAT AREN'T IN ENGLISH

In [8]:
df = df[df['Text'].map(lambda x: x.isascii())]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2203499 entries, 5 to 2271979
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   Review_ID    object
 1   User_ID      object
 2   Business_ID  object
 3   Stars        int64
 4   Date         datetime64[ns]
 5   Text         object
 6   Useful       int64
 7   Funny        int64
 8   Cool         int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 168.1+ MB

In [11]:
df.head()

,Review_ID,User_ID,Business_ID,Stars,Date,Text,Useful,Funny,Cool
5,-a9p8-UcbGDSIX4SJslHZg,dI-aeHknmPqiL42vdGKZQw,93E1eOQ2bQG0OyIMqdcTvg,4,2015-07-01,I don't know why I don't go to Whataburger mor...,0,0,0
6,bHEEQf5f_u-xvJPMvlFdWA,BpjlGlSW0VsphfzwTUffNg,BGkpUKqCNPGPHvhQ2J9mwQ,5,2017-03-15,Furnace died the day before temp was predicted...,1,0,0
7,v8SOCTSvss7lVzBrOG8OIw,hPtwgzndX3e7ttnov9ByeQ,WBlYp-nmLiBLp7VjP1FJFg,2,2017-06-14,What the fuck is this?! The steak is rubber! T...,1,2,0
8,j22GioMCag6-F5quZvgipw,IFkSQLXXTMACoWirAYI1jw,1XWpUatzGk0Cgn6C6VDaWg,5,2014-02-03,"Seattle may have just won the 2014 Super Bowl,...",2,2,1
9,yZiGS_vPM-EOXxxNATd6YQ,IFkSQLXXTMACoWirAYI1jw,iR1CIWFZOlfndjXn9fHflQ,5,2013-08-17,"This was one of my favorite pubs in Edinburgh,...",0,0,0